<%- include('./includes/header.ejs') %>
    <link rel="stylesheet" href="/styles/main.css">
    <!-- 可以引入其他檔案 -->
    </head>
<%- include('./includes/navbar.ejs') %>

    <h1><%= pageTitle %></h1>
    <img src="/images/gakki.jpg" alt="">
    <br>
<!-- 用JS做商品頁 -->
    <% if (products.length > 0) { %>
        <!-- forEach的第二個參數是index索引值
        這邊加入productIndex -->
        <% products.forEach((product, productIndex) => { %>
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
            <h3><%= product.title %></h3>
            <p><%= productIndex %></p>
        <% }) %>
    <% } else { %>
        尚無商品
    <% } %>
    <%- include('./includes/footer.ejs') %>